@media(max-width:450px){
    .box{
        display: block;
    }
    img{
        width: 200px;
    }
    p{
        text-align: center;
    }
    .right{
        margin-top: 0;
    }
    select{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .sbros{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}