@media(max-width:450px){
    .box{
        display: block;
    }
    img{
        width: 200px;
    }
    p{
        text-align: center;
    }
    .right{
        margin-top: 0;
    }
    select{
        width: 85px;
        height: 45px;
    }
    .btn{
        width: 85px;
        height:  45px;
    }
    .sbros{
        width: 85px;
        height: 45px;
    }
}