@import url(../Fonts/fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.box{
    display: flex;
    justify-content: space-between;
    background-color: rgb(217, 248, 248);
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 35px 35px 35px 35px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px 10px 10px;

}
.h1{
    font-family: Inter-variableFont;
    font-size: 32px;
    color: darkcyan;
}
.h2{
    font-family: Inter-variableFont;
    font-size: 32px;
}
p{
    font-family: Inter-variableFont;
}
.doseres{
    font-size: 24px;
    text-align: center;
}
.text{
    font-family: Inter-variableFont;
}
img{
    width: 425px;
}
.nobetazon_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.nobetazon_box img{
    width: 250px;
}
.nobetazon_title{
    font-family: Inter-variableFont;
    font-size: 15px;
    text-align: center;
    padding: 7px;
}
.language-switcher{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.lan{
    font-family: Inter-variableFont;
    color: black;
    width: 80px;
    padding: 7px;
    margin-bottom: 25px;
    transition: 1s;
}
.lan:hover{
    background-color: brown;
    color: #fff;
}
.btn{
    font-family: Inter-variableFont;
    padding: 7px;
    transition: 1s;
    color: black;
}
.btn:hover{
    background-color: brown;
    color: #fff;
}
.inp{
    font-family: Inter-variableFont;
    padding: 7px;
}
.age_select{
    padding: 7px;
}
select{
    font-family: Inter-variableFont;
    padding: 7px;
    color: black;
}
.sbros{
    padding: 7px;
    color: black;
    transition: 1s;
    margin-bottom: 25px;
}
.sbros:hover{
    background-color: brown;
    color: #fff;
}
span{
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
html{
    background-color: rgb(217, 248, 248);
}
